.px-selected {
    border: 3px solid #dc322f!important;
    box-sizing: border-box;
}

i.arrow {
    border: solid #268bd2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

i.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

i.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

i.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

i.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.left {
    float: left;
}
.right {
    float: right;
}

.zoomable {
    position: relative;
}

canvas.border {
    border: 4px solid #859900!important;
}


.key-canvas {
    border: 4px solid #859900!important;
    display: inline-block;
}
.key-border {
    border: 4px solid #268bd2!important;
    display: inline-block;
}

.key-zoom {
    border: 4px solid #cb4b16!important;
    display: inline-block;
}

.zoom-container {
    overflow: hidden;
    display: inline-block;
    position: relative;
    border: 4px solid #cb4b16!important;
}

.macroblock {
    border: 4px solid #d33682!important;
    width: 40px;
    height: 40px;
    position: absolute;
}

.macroblock3 {
    border: 4px solid #d33682!important;
    width: 30px;
    height: 30px;
    position: absolute;
}

.macroblock-canvas {
    position: absolute;
    left: 0;
    width: 320px;
    height: 320px;
}

.macroblock-canvas2 {
    position: absolute;
    left: 0;
    width: 240px;
    height: 240px;
}

.macroblock-cell {
    width: 40px;
    height: 40px;
    font-size: 20px!important;
    text-align: center!important;
    padding: 0!important;
    border: 0!important;
}

.no-border {
    border: 0!important;
    box-shadow: 0 0 0px!important;
}

.small-text {
    font-size: 26px!important;
}

.macroblock-cell-smaller {
    width: 30px;
    height: 30px;
    font-size: 15px!important;
    text-align: center!important;
    padding: 0!important;
    border: 0!important;
}

.macroblock-cell-bg {
    width: 30px;
    height: 30px;
    font-size: 15px!important;
    text-align: center!important;
    padding: 0!important;
    border: 0!important;
    background-color: #586e75;
}


.macroblock-cell-bg2 {
    width: 30px;
    height: 30px;
    font-size: 15px!important;
    text-align: center!important;
    padding: 0!important;
    border: 0!important;
    background-color: #002b36;
}
